<div class="page__footer-follow">
  <div class="footer-content">
    <p class="footer-email">
      Contact us at: <a href="mailto:info@example.com">rickardsinvitational@gmail.com</a>
    </p>
    <p class="footer-heading">Competition Handbooks</p>
    <nav class="footer-nav">
      <ul>
        <li><a href="/pdfs/handbook/Invitational_Competition_Handbooks_Elementary_2023.pdf">Elementary Handbook</a></li>
        <li><a href="/pdfs/handbook/Invitational_Competition_Handbooks_2023.pdf">Middle/High Handbook</a></li>
        <li><a href="/pdfs/handbook/Invitational_Competition_Handbooks_Mail_2023.pdf">Mail-In Handbook</a></li>
      </ul>
    </nav>
  </div>
</div>